<!DOCTYPE html>
<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Pomodoro</title>
  <!-- Optional JavaScript-->
  <!-- jQuery first, then Popper.js, then Bootstrap JS-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:700&amp;display=swap" rel="stylesheet">
  <link href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./style/index.css">
</head>
<body>
  <div class="container-fluid" id="index">
    <div id="big_border_circle">
      <div id="progress_bar" ref="progress"></div>
      <div id="big_circle" :class="{stop : parse}">
        <template v-if="parse"><i class="fas fa-pause-circle fa-7x"></i></template>
        <template v-if="parse === false"><i class="fas fa-play-circle fa-7x"> </i></template>
        <input type="checkbox" v-model="parse" @click="timer">
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="form-group col-sm-6 d-flex align-items-end flex-column">
          <div id="addNew">
            <input class="form-control" v-model="newMission" type="text" placeholder="ADD A NEW MISSION" @click="newMission=''" @focus="onfocus" @blur="onblur" @keypress.enter="addNewMission(newMission)"><a href="javascript:;" @click="addNewMission(newMission)"><i class="fas fa-plus"></i></a>
          </div>
          <div id="thingsToDo1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" v-model="todos[0].completed"><span class="checkmark"></span>
              <label class="form-check-label" for="thingsToDo1" :class="{completed : todos[0].completed}">{{ todos[0].content }}</label>
            </div>
          </div>
          <div class="my-auto" id="clock">
            <div id="min">
              <template v-if="minZero">{{ "0" + time.min }}</template>
              <template v-else="minZero">{{ time.min }}</template>
            </div>:
            <div id="second">
              <template v-if="secZero">{{ "0" + time.second }}</template>
              <template v-else="secZero">{{ time.second }}</template>
            </div>
          </div>
          <div class="mt-auto" id="things">
            <template v-for="(todo, i) in todos" v-if="i&gt;=1 &amp;&amp; i&lt;=5 &amp;&amp; !todo.completed">
              <div class="form-check">
                <input class="form-check-input" id="thingsToDo" type="checkbox" v-model="todo.completed"><span class="checkmark"></span>
                <label class="form-check-label" for="thingsToDo" :class="{completed : todo.completed}">{{ todo.content }}</label><a href="javascript:;" @click="switchToFirst(i)"><i class="far fa-play-circle fa-lg"></i></a>
              </div>
            </template><a href="todoList.html">
              <div class="more">MORE</div></a>
          </div>
        </div>
      </div>
      <div class="col-4" id="rightside">
        <div class="row">
          <div class="col-8"></div>
          <div class="col-4">
            <div class="d-flex align-items-end flex-column" id="sidebar">
              <div class="icon p-2"><a href="todoList.html"><i class="fas fa-list-ul fa-2x"></i></a><a href="analytics.html"><i class="fas fa-chart-bar fa-2x"></i></a><a href="ringTones.html"><i class="fas fa-music fa-2x"></i></a></div>
              <div class="mt-auto p-2 title">POMODORO</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.1/vuex.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.15/dayjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.js"> </script>
  <script src="./js/index.js"></script>
</body>